name: Tests

on: [push]

jobs:
  tests:
    defaults:
      run:
        shell: bash

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.5

      - name: Install dependencies
        run: make install-deps

      - name: Build
        run: make

      - name: Go test
        run: go test -v ./

      - name: Run Journalist in background
        run: |
          ./journalist &

      - name: Run integration tests
        env:
          JOURNALIST_API_URL: http://127.0.0.1:8000/api
        run: |
          ./test.sh true

